Q1. Create one variable containing following type of data:

i. String

Ans.

In [56]:
a= "Saroj"

In [57]:
type("Saroj")

str

ii. List

Ans.

In [58]:
a=['saroj',25,True,65+67j,25.28]

In [59]:
type(['saroj',25,True,65+67j,25.28])

list

iii. Float

Ans.

In [60]:
a=25.25

In [61]:
type(25.25)

float

iv.Tuple

Ans.

In [62]:
a=(26.25,98,"saroj")

In [63]:
type((26.25,98,"saroj"))

tuple

Q2. Given are some following variables containing data:

* What will be the data type of the bellow given variable.

i. var1 = ‘ ‘ 

Ans.

In [64]:
var1=''

In [65]:
type('')

str

ii. var2 = ‘[ DS , ML , Python]’

Ans.

In [66]:
var2='[ DS , ML , Python]'

In [67]:
type('[ DS , ML , Python]')

str

iii. var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

Ans.

In [68]:
var3 =  [ 'DS' , 'ML' , 'Python' ]

In [69]:
type([ 'DS' , 'ML' , 'Python' ])

list

iv. var4 = 1.

Ans

In [70]:
var4 = 1.

In [71]:
type(1.)

float

Q3. Explain the use of the following operators using an example:

i. /

Ans. /(Division operator)
    It is used for division in python

In [72]:
a=9
b=4

In [73]:
print(a/b)

2.25

ii. %

Ans.%(Modulo operator) It is used to take out the percentage in python

In [74]:
a=5
b=10

In [75]:
print(a%b)

5

iii. //

Ans. // (floor division operator) It works equally as divsion operator but gives the result nearest to the whole number.

In [1]:
a=9
b=4

In [2]:
print(a//b)

2

iv. **

Ans. **(Power operator) It is used to raise the number on the left to the power of the exponent of the right.

In [3]:
2**2

4

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

Ans.

In [4]:
my_list = [10, "Hello", 3.14, True, [1, 2, 3], {"name": "John", "age": 25}, ('a', 'b', 'c'), None, 5 + 2j, False]

In [5]:
for element in my_list:
    print(element, type(element))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'John', 'age': 25} <class 'dict'>
('a', 'b', 'c') <class 'tuple'>
None <class 'NoneType'>
(5+2j) <class 'complex'>
False <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Ans.

In [6]:
A = 24
B = 3
count = 0

In [9]:
while A % B == 0:
    A /= B
    count += 1

print(f"A is divisible by B {count} times")

A is divisible by B 1 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

Ans.

In [10]:
my_list = [5, 12, 9, 7, 18, 21, 2, 15, 10, 27, 6, 14, 30, 4, 16, 11, 33, 20, 8, 22, 3, 25, 17, 19, 13]

In [11]:
for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3")
    else:
        print(f"{element} is not divisible by 3")

5 is not divisible by 3
12 is divisible by 3
9 is divisible by 3
7 is not divisible by 3
18 is divisible by 3
21 is divisible by 3
2 is not divisible by 3
15 is divisible by 3
10 is not divisible by 3
27 is divisible by 3
6 is divisible by 3
14 is not divisible by 3
30 is divisible by 3
4 is not divisible by 3
16 is not divisible by 3
11 is not divisible by 3
33 is divisible by 3
20 is not divisible by 3
8 is not divisible by 3
22 is not divisible by 3
3 is divisible by 3
25 is not divisible by 3
17 is not divisible by 3
19 is not divisible by 3
13 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans. In Python, mutable and immutable are two important concepts that describe the behavior of data types.

Immutable data types are those whose values cannot be changed once they are assigned. Any operation on an immutable object actually creates a new object. Examples of immutable data types in Python include:

Ex:- int: Integer values are immutable. When you perform operations on an integer, it creates a new integer object.

In [16]:
x = 5
x += 2  # Creates a new integer object
print(x)

7

Ex:-float: Floating-point numbers are also immutable.

In [17]:
y = 3.14
y *= 2  # Creates a new float object
print(y)

6.28

Ex:- str: Strings are immutable in Python. Any operation that appears to modify a string actually creates a new string object.
python

In [19]:
s = "Hello"
s += " World"  # Creates a new string object
print(s)

Hello World

##On the other hand, mutable data types are those that allow their values to be changed after they are assigned. Operations on mutable objects modify the object itself, without creating a new object. Examples of mutable data types in Python include:

Ex:- list: Lists are mutable, and you can modify their elements directly.

In [20]:
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the list in-place
print(my_list)

[1, 2, 3, 4]

Ex:- dict: Dictionaries are mutable and allow you to modify, add, or remove key-value pairs.

In [21]:
my_dict = {"name": "John", "age": 25}
my_dict["age"] = 26  # Modifies the value for the "age" key
print(my_dict)

{'name': 'John', 'age': 26}

Ex:- set: Sets are mutable and support operations such as adding or removing elements.

In [22]:
my_set = {1, 2, 3}
my_set.add(4)  # Modifies the set in-place
print(my_set)

{1, 2, 3, 4}